.container
  .page-body
    %h1 Sign up
    %h3 Sign up for a new account:
    = simple_form_for @user, {:url => 'signup'} do |f| 
      = f.input :username
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      .text-right
        = f.button :submit, class: 'btn btn-primary'
