= simple_form_for [:admin, @sensor_type] do |f|
  = f.input :vendor, placeholder: :translate
  = f.input :sensor_type, placeholder: :translate, prompt: true
  = f.input :units, placeholder: :translate
  .text-right 
    = f.button :submit