.page-header
    %h1 Tipos de Sensores
- if @sensor_types.any?
    .table-responsive
        %table.table.table-striped
            %thead
                %tr
                    %th Tipo de Sensor
                    %th Marca
                    %th Unidades                    
                    %th 
            %tbody
                - @sensor_types.each do |sensor_type|
                    %tr
                        %td= sensor_type.sensor_type_text
                        %td= sensor_type.vendor
                        %td= sensor_type.units
                        %td
                            = link_to 'Editar', edit_admin_sensor_type_url(sensor_type), :class => 'btn btn-default btn-sm'
                            = link_to 'Eliminar', admin_sensor_type_url(sensor_type), data: {method: :delete, confirm: '¿Estás seguro?'}, :class => 'btn btn-sm btn-danger'
        = pagination(@sensor_types) 
- else
    %p.well
        No se han encontrado tipos de sensores                    
%p.text-right
    = link_to 'Agregar', new_admin_sensor_type_url, :class => 'btn btn-primary'