.page-header
  %h1 Mis plantaas
.row
  - @plants.each do |plant|
    .col-sm-4.col-md-3
      .pot      
        = link_to dashboard_plant_url(plant) do
          %span.thumb
            %i.icon-leaf
          %span.name
            %span= plant.name
