- content_for :javascripts do 
  = javascript_include_tag 'dashboard/plants/show'
.page-header
  %h1= @plant.name
.row
  .col-sm-8
    #plant-chart.ct-chart(style="height: 500px;")
  .col-sm-4
    = image_tag @plant.timelapse.url, class: 'img-responsive'
- if @plant.images.any?
  .row.space-top
    - @images.each do |image|
      .col-sm-4.col-md-3
        = image_tag image.file.url, class: 'img-responsive img-thumbnail'
        %span= l(image.created_at, format: :short)
- else
  %p.well.text-center No se han encontrado im&aacute;genes

