= simple_form_for [:admin, @sensor] do |f|
  = f.input :serial_number, placeholder: :translate
  = f.input :sensor_type_id, collection: @sensor_types, prompt: true, label_method: :sensor_type_text
  .text-right 
    = f.button :submit