.page-header
    %h1 Sensores
- if @sensors.any?
    .table-responsive
        %table.table.table-striped
            %thead
                %tr
                    %th Id
                    %th Tipo de Sensor
                    %th Marca
                    %th N&uacute;mero de serie                    
                    %th 
            %tbody
                - @sensors.each do |sensor|
                    %tr
                        %td= sensor.id
                        %td= sensor.sensor_type_text
                        %td= sensor.vendor
                        %td= sensor.serial_number
                        %td
                            = link_to 'Editar', edit_admin_sensor_url(sensor), :class => 'btn btn-default btn-sm'
                            = link_to 'Eliminar', admin_sensor_url(sensor), data: {method: :delete, confirm: '¿Estás seguro?'}, :class => 'btn btn-sm btn-danger'
        = pagination(@sensors) 
- else
    %p.well
        No se han encontrado sensores                    
%p.text-right
    = link_to 'Agregar', new_admin_sensor_url, :class => 'btn btn-primary'