.pot {
    .thumb {
        display: block;
        background-color: white;
        text-align: center;
        padding: 30px 0px;
        i {
            vertical-align: middle;
            font-size: 30px;
        }
    }
    .name {
        display: block;
        padding: 5px;
        text-align: center;
    }
}