#plant-chart {
    .ct-series {
        .ct-line {
            fill: none;
            stroke-width: 4px;
            stroke-dasharray: 5px;
            -webkit-animation: dashoffset 1s linear infinite;
            -moz-animation: dashoffset 1s linear infinite;
            -o-animation: dashoffset 1s linear infinite;
            animation: dashoffset 1s linear infinite;
        }
    }
}

@-webkit-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -20px;
    }
}

@-moz-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -20px;
    }
}

@-ms-keyframes dashoffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -20px;
    }
}

@keyframes dashoffset {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -20px;
    }
}

@-webkit-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    }
}

@-moz-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    }
}

@-ms-keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    }
}

@keyframes bouncing-stroke {
    0% {
        stroke-width: 5px;
    }

    50% {
        stroke-width: 10px;
    }

    100% {
        stroke-width: 5px;
    }
}

@-webkit-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}

@-moz-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}

@-ms-keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}

@keyframes exploding-stroke {
    0% {
        stroke-width: 2px;
        opacity: 1;
    }

    100% {
        stroke-width: 20px;
        opacity: 0;
    }
}