!!! 5
%html
  %head
    %title Plantaas
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags 
  %body
    .navbar.navbar-inverse.navbar-static-top(role="navigation")
      .container
        .navbar-header
          %button.navbar-toggle{data: {toggle: 'collapse', target: '#navbar-collapse'}}
            %i.icon-reorder
          = link_to 'Plant.io', '#', :class => 'navbar-brand'
        .collapse.navbar-collapse#navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Login', 'signup'
            %li= link_to 'Signup', 'signup'
    .container
      = yield